.header-test {
  display: flex;
  align-items: center;
}
.header-test .avatar {
  margin-left: auto;
  margin-right: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
.info > p {
  color: #515151;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.tag {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 4px;
}
